!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/

    / HTML Meta Tags
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Email signature management & marketing | Signkit"

    %meta{content: "Signkit is a all-in-one platform for email signatures. Easily create and distribute on-brand signatures across your entire organization.", name: "description"}

    / Google / Search Engine Tagð
    %meta{content: "Email signature management & marketing | Signkit", itemprop: "name"}
    %meta{content: "Signkit is a all-in-one platform for email signatures. Easily create and distribute on-brand signatures across your entire organization.", itemprop: "description"}
    %meta{content: image_url("social_image.png"), itemprop: "image"}
    / Facebook Meta Tags
    %meta{content: "http://www.signkit.io", property: "og:url"}
    %meta{content: "website", property: "og:type"}
    %meta{content: "Email signature management & marketing | Signkit", property: "og:title"}
    %meta{content: "Signkit is a all-in-one platform for email signatures. Easily create and distribute on-brand signatures across your entire organization.", property: "og:description"}
    %meta{content: image_url("social_image.png"), property: "og:image"}

    / Twitter Meta Tags
    %meta{content: "summary_large_image", name: "twitter:card"}
    %meta{content: "Email signature management & marketing | Signkit", name: "twitter:title"}
    %meta{content: "Signkit is a all-in-one platform for email signatures. Easily create and distribute on-brand signatures across your entire organization.", name: "twitter:description"}
    %meta{content: image_url("social_image.png"), name: "twitter:image"}/

    = stylesheet_link_tag "site"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js", "site"
    / Autopilot
    :javascript
      (function(o){var b="https://api.autopilothq.com/anywhere/",t="416655ac14a643bc9bcd88b37003facef87c3df15e4348a1875da1b10d4885a8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||"")+"&gdpr=1",j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};window.Autopilot.GDPRCookieOptIn=function(){z(b+t+'?'+p+'&optin=1',false);window.Autopilot.GDPROptedIn=true;};window.Autopilot.GDPRCookieOptOut=function(){z(b+t+'?'+p+'&optout=1',false);window.Autopilot.GDPROptedIn=false;};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});
    / Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MH6BB7F');
  %body
    %noscript
      %iframe{src: "https://www.googletagmanager.com/ns.html?id=GTM-MH6BB7F", frameborder: "0", height: "0", width: "0", style: "display:none;visibility:hidden"}
    = partial "layouts/navbar"
    = yield
    <div>
    </div>
    = partial "layouts/footer"
