#pricing
  .block-diagonal.mt-0.pb-0
    .diagonal-bg.bg-light.pb-0.block-foreground
      .container
        .row
          .col.text-center.pb-5
            %h2 Simple pricing
            %p.lead Our plans are designed to be simple and affordable
        .row.justify-content-center
          .col-10
            .card-deck
              - data.plans.each do |plan|
                .card
                  .card-body
                    .text-center
                      %h4.card-title= plan.title
                      %p.h2.mb-0= plan.price
                      %p= plan.billing_cycle
                    %hr/
                    - plan.attributes.each do |attribute|
                      %p.card-text 
                        = attribute
                    %hr/
                    .text-center
                      %button.btn.btn-success= plan.cta.title
    .block-background.bg-light{style: "top: 50%;"}
