#pricing
  .block-diagonal.pb-0
    .diagonal-bg.bg-light.pb-0.block-foreground
      .container
        .row
          .col.text-center.pb-5
            %h2 Simple pricing
            %p.lead Our plans are designed to be simple and affordable
        .row.justify-content-center.mb-4
          .col-10
            .card-deck
              - data.plans.each do |plan|
                .card
                  .card-body.d-flex.flex-column
                    .text-center
                      %h4.h5.card-title.font-weight-light.text-secondary= plan.title
                      %p.h2.mb-0= plan.price
                      %p.text-muted= plan.billing_cycle
                      %hr/
                    - plan.attributes.each do |attribute|
                      %p.card-text 
                        = attribute
                    .mt-auto
                      %hr/
                      .text-center
                        = link_to plan.cta.title, "http://app.signkit.io/users/sign_up", class: "btn btn-success", role: "button"
        .row
          .col.text-center
            %p.text-secondary.small
              Feel free to
              = link_to "reach out", "mailto:contact@signkit.io"
              if you have any questions or require enterprise solutions
    .block-background.bg-light{style: "top: 50%;"}
